# Ignore OctoberCMS completely.. just keep all plugins and themes related to the project
bootstrap/
config/
modules/
!storage/
storage/*
!storage/app
storage/app/*
!storage/app/media
!storage/app/media/*
vendor/
.well-known/
.htaccess
.env
artisan
index.php
server.php
.travis.yml
phpunit.xml


# Include only custom made plugins
!plugins/
plugins/*
!plugins/wiz/
plugins/wiz/*
!plugins/wiz/bizancia

themes/
!themes/
!themes/leo-theme-land/
!themes/leo-theme-land/*
!themes/leo-theme-land/assets/plugin/bootstrap

!.gitkeep
.DS_Store
.idea
_ide_helper.php
Thumbs.db
.DS_Store