@font-face {
  font-family: "Verlag Book";
  font-style: normal;
 src: local("Verlag Book"), url("../fonts/Verlag-Book.woff") format("woff");
}

@font-face {
  font-family: "Verlag Condensed Book";
  font-style: normal;
  src: local("Verlag Condensed Book"), url("../fonts/Verlag-Condensed-Book.otf") format("woff");
}

h1, h2, h3, label{
  color:#cb6135;
}

h4{
  color:#666a6b;
  font-size: 1.1em;
  text-align: center;
  font-family: "Verlag Book"; 
}

p{
  text-align: justify;
  font-family: "Verlag Book"; 
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}



.parrafo_portada{
	background-color: black;
	color:white;
  font-family: "Verlag Condensed Book";
	padding: 15px 15px 15px;
	margin:0;
  position: relative;
}

.img_servicio{
  padding-top: 10px;
  max-width: 50%;
  width: 50%;
  height: 80px;		
}

.menu-logo{
  width: 380px;
  height: 200px;
} 

.menu_leo{
  background-color: #cb6135;
  border-color: #cb6135;
  height: 80px;
}

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}

.nav-item > li > a{
  font-family: "Verlag Book";
  font-weight: bold; 
}

.nav-link{
  font-family: "Verlag Book";
  font-weight: bold; 
  font-size: 1.1em
}

.demo{
  width: 100%;
  height: 400px;
  background-image: url('../images/demo.jpg');
  background-size: 100% 100%;
  float: right;
}

.portada-text{
  margin: 10px 0px 30px 0px;  
  padding-left: 45%;
  width: 540px;
  padding-right: 10%;
  display: inline-block;
  font-family: 'Verlag Condensed Book';
  font-size: 1em;
  text-align: justify;
  color: black;
}

.btn-contacto{
  color:#cb6135;
}

/* Navbar links */
.navbar a {
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
}

.gris{
  color: #666a6b;
}

.negro{
  color: #0c0b0b;
}

.playlist-item > img {
  width: 30px;
}

.playlist-item {
  font-family: 'Verlag Condensed Book';
  font-size: 1.2em;
  text-align: left;
}

.banner{
  height: 200px;
}



.post-list > li{
  text-decoration: none;
  color: #666a6b;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
.menu-logo{
    width: 150px;
    height: 50px;
  } 
  .banner{
    height: 100px;
  }
      .navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
  }

  .nav-link{
    font-size: 0.8em
  }
  .portada-text{
  margin: 10px 0px 30px 0px;  
  padding-left: 10px;
  }
  .home-banner-img { 
    width: 250px;
    height: 200px;
  }
 
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
  .menu-logo{
    width: 150px;
    height: 50px;
  } 
  .banner{
    height: 150px;
  }
    .navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
  }

  .nav-link{
    font-size: 0.8em
  }
    .home-banner-img { 
    width: 250px;
    height: 200px;
  }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
  .menu-logo{
    width: 250px;
    height: 100px;
  } 
  .banner{
    height: 200px;
  }
      .navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
  }

  .nav-link{
    font-size: 0.8em
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .menu-logo{
    width: 250px;
    height: 100px;
  } 

   .banner{
  height: 225px;
}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
.menu-logo{
    width: 300px;
    height: 170px;
  } 

 .banner{
  height: 250px;
}
}


/*---------------------------------
* 06. Home Banner
-----------------------------------*/
.full-screen {
  min-height: 100vh;
}
.home-banner {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
      background-size: cover;  
}
.home-content{
    margin: 180px 0 50px 0;
    padding: 10%;
    padding-left: 61%;
}
.home-content h4{
  font-weight: 600;
  color: black;
  font-size: 40px;
}
.home-content p{
  color: black;
  opacity: 0.7;
  font-size: 16px;
  margin: 0;
}

@media (max-width: 991px){
    .home-content {
      margin: 90px 0 50px 0;
    }
}
@media (max-width: 767px){
  .home-content {
    padding: 20px;
  }
  .home-content h4 {
    font-size: 20px;
  }
  .home-content p {
    font-size: 14px;
  }
}

.home-banner-img { 
  float: left; 
  padding: 0 0 20px 0;
  margin: 0 0 10px 0 ;
  width: 550px;
  height: 500px;
}
