
    <!-- Heading -->
    <h2 class="mb-5 font-weight-bold">SERVICIOS</h2>

    <!--Grid row-->
    <div class="row d-flex justify-content-center mb-4">

        <!--Grid column-->
        <div class="col-md-8">

            <!-- Description -->
            <h3 class="text-center">SERVICIOS</h3>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-3 mb-5">
            <img class="img_servicio" src="{{ 'assets/images/microfono.svg'|theme }}">  
            <h4 class="my-4 font-weight-bold">GRABACIONES LISTAS PARA USAR</h4>
            <p class="grey-text">Del guion a su correo electrónico, un audio listo para su uso brindando un nuevo nivel de calidad y profesionalismo al mundo en línea del voice over.</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 mb-1">
            <img class="img_servicio" src="{{ 'assets/images/microfono.svg'|theme }}">
            <h4 class="my-4 font-weight-bold">TAN RÁPIDO COMO LO NECESITE</h4>
            <p class="grey-text">Una vez recibido el sript haré lo posible para retornarle su audio en el menor tiempo posible. Intento superar mi marca de respuesta de tan solo una hora.</p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 mb-1">
            <img class="img_servicio" src="{{ 'assets/images/edicion_video.svg'|theme }}">
            <h4 class="my-4 font-weight-bold">EDICIÓN DE VIDEO</h4>
            <p class="grey-text">Tambien puedo ofrecerle edición de sus videos, subtitulados, diseño gráfico, creación de imagen corporativa, diseños web y más.</p>
        </div>
        <!--Grid column-->
                            <!--Grid column-->
        <div class="col-md-3 mb-1">
            <img class="img_servicio" src="{{ 'assets/images/edicion_audio.svg'|theme }}">
            <h4 class="my-4 font-weight-bold">EDICIÓN DE AUDIO</h4>
            <p class="grey-text">Le ofrezco un servicio completo de edición de audio,  musicalización,  efectos y más . Su pieza puede quedar completamente vestida para debutar en los medios.</p>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
    <div class="row justify-content-center">
        <img  src="{{ 'assets/images/logos_clientes.png'|theme }}" class="img-fluid banner w-75"> 
    </div>