title = "Asesorias"
url = "/asesorias"
layout = "default"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 4
noPostsMessage = "No hay asesorias"
sortOrder = "published_at desc"
categoryPage = "about"
postPage = "asesorias-post"
==
{% set posts = blogPosts.posts %}
{% partial 'breadcrumb' %}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
    <ul class="list-group">
        {% for post in posts %}
        <li class="list-group-item border-0">
            <h2><a href="{{ post.url }}" class="theme-color">{{ post.title }}</a></h2>
            <p class="excerpt">{{ 
                html_limit(post.summary|raw, 10, <a href="{{ post.url }}" class="theme-color">... Read more!</a>)
             

        }}</p>
            <p class="info">
                Publicado el 
                {% if post.categories.count %} in {% endif %}
                {% for category in post.categories %}
                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                {{ post.published_at|date('M d, Y') }}
            </p>

        </li>
        {% else %}
            <li class="no-data">{{ blogPosts.noPostsMessage }}</li>
        {% endfor %}
    </ul>

    {% if posts.lastPage > 1 %}
        <ul class="pagination">
            {% if posts.currentPage > 1 %}
                <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
            {% endif %}

            {% for page in 1..posts.lastPage %}
                <li class="{{ posts.currentPage == page ? 'active' : null }}">
                    <a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): page }) }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if posts.lastPage > posts.currentPage %}
                <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
            {% endif %}
        </ul>
    {% endif %}

	</div>
</div>