description = "Leonardo Rodriguez"
==
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Leonardo Rodríguez Voice Cover</title>
    <link href="{{ [
        'assets/vendor/fontawesome/all.min.css',
        'assets/vendor/audio/audio-player.css',
        'assets/vendor/OwlCarousel2/assets/owl.carousel.min.css',
        'assets/vendor/OwlCarousel2/assets/owl.theme.default.min.css',
        'assets/css/bootstrap.min.css',
        'assets/css/style.css',
        'assets/css/jquery-ui.css',
        'assets/css/mdb.min.css',
        ]|theme }}" rel="stylesheet">
</head>

<body>

    <!--Main Navigation-->
    <header>
        {% partial 'menu' %}

        <!--/.Navbar-->

        <!--Mask-->
        <div id="intro" class="view">
            {% partial 'slider' %}
        </div>
        <!--/.Mask-->

    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="mt-5">
        <div class="container">
            <!--Section: Servicio-->
            <section id="servicios" class="text-center">

                {% partial 'servicio' %}
            </section>
            <!--Section: Servicio-->

            <hr class="my-5">
            <!--Section: Demo-->
            <section id="examples" class="text-center">
                {% partial 'demo' %}
            </section>
            <!--Section: Examples-->
            <hr class="my-5">

            <!--Section: Contact-->
            <section id="contact">
                {% partial 'contacto' %}
            </section>
            <!--Section: Contact-->

        </div>
    </main>
    <!--Main layout-->

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">
        <!-- Social buttons -->
        <div class="container text-center d-inline">
            <small> &copy; Derechos reservados Leonardo Rodríguez &trade;2019</small>
        </div>

    </footer>
    <!-- Footer -->

</body>

<!-- Scripts -->
<script src="{{[
        'assets/vendor/jquery.js',
        'assets/vendor/bootstrap/bootstrap.min.js',
        'assets/vendor/audio/audioPlayer.js',
        'assets/vendor/OwlCarousel2/owl.carousel.min.js',
        'assets/vendor/audio/jquery-ui-slider.js',
        'assets/js/mdb.min.js',
        'assets/js/popper.min.js',
        'assets/js/app.js'
]|theme }}"></script>

</body>

</html>