<footer id="sticky-footer" class="py-2 bg-dark gris text-center">
	<div class="container text-center d-inline">
      <small> &copy; Derechos reservados Leonardo Rodríguez &trade;{{ "now"|date("Y") }}</small>
    </div>

	<div class="navbar d-inline gris">
		<a href="https://wa.me/584249408911?text" target="_blank">
			<i class="fab fa-whatsapp fa-2x"></i>
		</a>
  		<a href="https://www.youtube.com/MrLeodejro" target="_blank">
  			<i class="fab fa-youtube fa-2x"></i>
  		</a>
  		<a href="https://www.instagram.com/leonardovoiceover" target="_blank">
  			<i class="fab fa-instagram fa-2x"></i>
  		</a>
		<a href="https://soundcloud.com/vozleonardo" target="_blank">
			<i class="fab fa-soundcloud fa-2x"></i>
		</a>
	</div>
</footer>