<section class="section bg-cover bg-fixed bg-no-repeat" 
         style="background-image: url({{ 'home/slider-3.png'|media }});">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-7 col-lg-5">
        <div class="intro-content text-center">
          <h3 class="font-alt dark-color m-0px m-25px-b">{% content '04-banner-secundario-titulo' %}</h3>
          <p class="m-0px">{% content '04-banner-secundario-texto' %}</p>
          <div class="m-btn-bar m-35px-t">
            <a href="{{ 'contact'|page }}" class="m-btn m-btn-theme">Contáctanos</a>
          </div>
        </div>
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</section>