<section class="section page-title bg-fixed bg-cover" style="background-image: url({{ 'home/slider-3.jpg'|media }});">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6">
        <div class="service-banner">
          <h3>{{ this.page.title }}</h3>
          <ul>
            <li><a href="{{ 'home'|page }}">Inicio</a></li>
            <li>{{ this.theme.company }}</li>
          </ul>
        </div>
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container-->
</section>
