  <section id="contact" class="bg-no-repeat bg-cover bg-fixed" style="background-image: url({{ 'home/call-center-bg.jpg'|media }});" >
    <div class="row no-gutters justify-content-end">
      <div class="col-12 col-md-12 col-lg-6">
        <div class="call-to-action" style="background-image: url({{ 'logo_bizancia.svg'|media }});">
          <h4>Recibe tu asesoría <br />personalizada </h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
          <div class="m-btn-bar">
            <a href="#" class="m-btn m-btn-white">Solicítala acá</a>
            <a href="#" class="contact-num">+56 99827 6622</a>
          </div>
        </div>
      </div>
    </div><!-- row -->
  </section>