  <section id="contact" class="bg-no-repeat bg-cover bg-fixed" style="background-image: url({{ 'home/slider-1.png'|media }});" >
    <div class="row no-gutters justify-content-end">
      <div class="col-12 col-md-12 col-lg-6">
        <div class="call-to-action theme-bg banner-home">
          <h4>Recibe tu asesoría</h4>
          <p>{% content '05-contacto' %}</p>
          <div class="m-btn-bar">
            <a href="{{ 'contact'|page }}" class="m-btn m-btn-white">Solicítala acá</a>
            <a href="tel:{{ this.theme.phone }}" class="contact-num">{{ this.theme.phone }}</a>
          </div>
        </div>
      </div>
    </div><!-- row -->
  </section>


