<br /><br />
<section id="demos" class="section">
    <div class="container">
      <div class="row justify-content-center m-40px-b sm-m-20px-b">
        <div class="col-md-8 col-lg-6">
          <div class="section-title text-center">
            <h2 class="font-alt">Demos</h2>
            <p>{% content '03-demo-texto' %}</p>
          </div>
        </div><!-- col -->
      </div>

<!--Grid row-->
<div class="row">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">

        <section class="audio-player md-w-50  card border-0">
          <div class="card md-w-50 sm-w-25">
            <div class="card-body">
              <div class="row align-items-center mt-4 mb-3 mx-0">
                <i id="play-button" class="far fa-play-circle play-pause btn-contacto" aria-hidden="true"></i>
                
                <i id="pause-button" class="far fa-pause-circle play-pause d-none btn-contacto"></i>


                <i id="next-button" class="fas fa-fast-forward btn-contacto ml-2" aria-hidden="true"></i>

                <div class="col ml-auto rounded-circle border-0 p-1">
                  <img id="thumbnail" class="img-fluid rounded-circle" src="" alt="">
                </div>
              </div>
              <div class="p-0 m-0" id="now-playing">
                <p class="font-italic mb-0">Ahora escuchando: </p>
                <p class="lead" id="title"></p>
              </div>
              <div class="progress-bar progress col-12 mb-3">
              </div>
            </div>
          </div>
          <audio id="audio-player" class="d-none" src="" type="audio/mp3" controls="controls"></audio>
        </section>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
        <ul class="playlist list-group list-group-flush text-left">
            <li audio_url='{{"audios/publicidad.mp3"|media}}'
                img_url='http://lorempixel.com/150/150/abstract/1'
                class="active list-group-item playlist-item">
                    <img src='{{"servicios/p.png"|media}}'>ublicidad
            </li>

            <li audio_url='{{"audios/elearnings.mp3"|media}}'
                class="list-group-item playlist-item" 
                img_url="http://lorempixel.com/150/150/abstract/3">
                <img src='{{"servicios/e.png"|media}}'>-learnings
            </li>


           <li audio_url='{{"audios/radio.mp3"|media}}'
                class="list-group-item playlist-item" 
                img_url="http://lorempixel.com/150/150/abstract/4">
                <img src='{{"servicios/r.png"|media}}'>adio Imaging
            </li>

            <li audio_url='{{"audios/libro.mp3"|media}}'
                class="list-group-item playlist-item" 
                img_url="http://lorempixel.com/150/150/abstract/5">
                <img src='{{"servicios/a.png"|media}}'>udio libros
            </li>

            <li audio_url='{{"audios/ivr.mp3"|media}}'
                class="list-group-item playlist-item" 
                img_url="http://lorempixel.com/150/150/abstract/6">
                <img src='{{"servicios/i.png"|media}}'>VR
            </li>

            <li audio_url='{{"audios/corporativa.mp3"|media}}'
                class="list-group-item playlist-item" 
                img_url="http://lorempixel.com/150/150/abstract/7">
                <img src='{{"servicios/n.png"|media}}'>arración corporativa, micros y videos institucionales
            </li>
        </ul> 

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4"
    style="background-image: url({{ 'home/slider-3.jpg'|media|resize(600,600,({mode:'landscape'})) }})"
    > </div>
    <!--Grid column-->

</div>
<!--Grid row-->
</section>