<footer class="footer">
  <div class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 m-15px-tb col-md-6">
          <div class="footer-content">
            <div class="footer-logo">
             <img src="{{ 'logo.svg'|media }}" class="cliente-logo logo-white">
            </div>
            <div class="footer-text">
              <p>{% content '06-footer-text'%}</p>
            </div>
            <ul class="social-icons">
              {% if this.theme.facebook %}
                <li><a href="{{ this.theme.facebook }}" target="_blank"><i class="fab fa-facebook"></i></a></li>
              {% endif %}
              {% if this.theme.twitter %}
                <li><a href="{{ this.theme.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
              {% endif %}
              {% if this.theme.linkedin %}
                <li><a href="{{ this.theme.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
              {% endif %}
              {% if this.theme.instagram %}
                <li><a href="{{ this.theme.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
              {% endif %}
              {% if this.theme.youtube %}
                <li><a href="{{ this.theme.youtube }}" target="_blank"><i class="fab fa-youtube"></i></a></li>
              {% endif %}
            </ul>
          </div>
        </div><!-- col -->
        <div class="col-lg-2 m-15px-tb col-md-6">
          <div class="footer-content">
            <div class="footer-title font-alt">Mas información</div>
            <ul>
              <li><a href="{{ 'home'|page }}#services">Servicios</a></li>
              <li><a href="{{ 'asesorias'|page }}">Asesorias</a></li>
              <li><a href="{{ 'home'|page }}#demos">Demos</a></li>
              <li><a href="{{ 'contact'|page }}">Contacto</a></li>
            </ul>
          </div>
        </div><!-- col -->
        <div class="col-lg-2 m-15px-tb col-md-6">
  
        </div><!-- col -->
        <div class="col-lg-4 m-15px-tb col-md-6">
          <div class="footer-newsletter">
            <div class="footer-title font-alt">Suscríbete</div>
            <p>Recibe información sobre como manejar tu negocio directamente por correo electronico</p>
            {{ form_ajax('onSubscribe', {
                    'class': 'subscribe-form',
                    'validate': {},
                    'id': 'subscribe-form',
                    'accept-charset': 'utf-8',
                })
            }}
              <div class="alert alert-danger" data-validate-error>
                  <p><b>Hay un error en el formulario</b></p>
                  <p>Por favor, revisa la información proporcionada y vuelve a intentarlo.</b></p>
              </div>
              <div class="form-group">
                <input type="email" name="email_subscribe" class="form-control" placeholder="Email">
              </div>
              <div class="m-btn-bar">
                <button type="submit" class="m-btn m-btn-theme">Enviar</button>
              </div>
          {{ form_close() }}
          </div>
        </div>
      </div>
      </div><!-- row -->
    </div><!-- container -->
  </div>
  <div class="fot-copyright">
    <p>Copyright (c) {{ "now"|date("Y") }} - Leonardo Rodríguez</p>
  </div>
</footer>