  <section class="section gray-bg" id="services">
    <div class="container">
      <div class="row justify-content-center m-45px-b sm-m-25px-b">
        <div class="col-md-8 col-lg-6">
          <div class="section-title text-center">
            <h2 class="font-alt">Nuestros <span>Servicios</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..</p>
          </div>
        </div><!-- col -->
      </div> <!-- row -->

      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 m-15px-tb col-lg-3">
          <div class="feature-box box-shadow theme-hover">
            <div class="icon theme-bg"><i class="fas fa-desktop"></i></div>
            <h6 class="font-alt">GRABACIONES LISTAS PARA USAR</h6>
              <p>Del guión a su correo electrónico, un audio listo para su uso brindando un nuevo nivel de calidad y profesionalismo al mundo en línea del voice over.</p>
          </div>
        </div><!-- col -->
        <div class="col-12 col-sm-12 col-md-6 m-15px-tb col-lg-3">
          <div class="feature-box box-shadow theme-hover">
            <div class="icon theme-bg"><i class="far fa-thumbs-up"></i></div>
            <h6 class="font-alt">TAN RÁPIDO COMO LO NECESITE</h6>
              <p>Una vez recibido el sript haré lo posible para retornarle su audio en el menor tiempo posible. Intento superar mi marca de respuesta de tan solo una hora.</p>
          </div>
        </div><!-- col -->
        <div class="col-12 col-sm-12 col-md-6 m-15px-tb col-lg-3">
          <div class="feature-box box-shadow theme-hover">
            <div class="icon theme-bg"><i class="ti-money"></i></div>
            <h6 class="font-alt">EDICIÓN DE VIDEO</h6>
            <p>Tambien puedo ofrecerle edición de sus videos, subtitulados, diseño gráfico, creación de imagen corporativa, diseños web y más. <br/><br/></p>
          </div>
        </div><!-- col -->
        <div class="col-12 col-sm-12 col-md-6 m-15px-tb col-lg-3">
          <div class="feature-box box-shadow theme-hover">
            <div class="icon theme-bg"><i class="ti-notepad"></i></div>
            <h6 class="font-alt">EDICION DE AUDIO</h6>
              <p>Le ofrezco un servicio completo de edición de audio, musicalización, efectos y más . Su pieza puede quedar completamente vestida para debutar en los medios.</p>
          </div>
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->
  </section>