{% if this.theme.facebook %}
  <a href="{{ this.theme.facebook }}" target="_blank"><i class="fab fa-facebook"></i></a>
{% endif %}
{% if this.theme.twitter %}
    <a href="{{ this.theme.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
{% endif %}
{% if this.theme.linkedin %}
    <a href="{{ this.theme.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
{% endif %}
{% if this.theme.instagram %}
    <a href="{{ this.theme.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
{% endif %}
{% if this.theme.youtube %}
    <a href="{{ this.theme.youtube }}" target="_blank"><i class="fab fa-youtube"></i></a>
{% endif %}
{% if this.theme.soundcloud %}
    <a href="{{ this.theme.soundcloud }}" target="_blank"><i class="fab fa-soundcloud "></i></a>
{% endif %}